:root {
  --app-color-primary-lighter: rgb(238, 242, 255);
  --app-color-primary-light: rgb(129, 140, 248);
  --app-color-primary-DEFAULT: rgb(67, 56, 202);
  --app-color-primary-dark: rgb(49, 46, 129);

  --app-color-admin: #455667;
  --app-color-administration: #b62b5b;
  --app-color-layout: #009999;
  --app-color-putoff: #286090;
  --app-color-stock: #ec971f;
  --app-color-stockdoc: #26418f;
  --app-color-wms: #c9302c;
}
